@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import url('https://fonts.googleapis.com/earlyaccess/notosansjapanese.css');


*{margin:0;padding:0;}
html{overflow-x:hidden;overflow-y:auto}
body {
	width:100%;
	font-size: 16px;
	color:#323232;
	background:#fff;
	font-weight: normal;
	font-family: 'Open Sans', "Noto Sans Japanese", sans-serif;
	overflow:hidden;
	overflow-y:auto;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

img{max-width:100%;}
.container {
	padding-right: 0;
	padding-left: 0;
	padding-bottom: 20px;
}
body,
li,
address {
    line-height: 1.6em;
}
input,
button,
select,
textarea {
    font-size: 16px;
	/* -webkit-appearance: none;*/
}
p {
    margin: 0 0 15px
}
a {
    color: #222;
    -webkit-transition:all 0.3s ease;
	-moz-transition:all 0.3s ease;
	-o-transition:all 0.3s ease;
	transition:all 0.3s ease;
}
a:hover,
a:focus {
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6{margin:10px 0 10px 0;line-height:1.4em;}

a[href^="tel"]{
    color:inherit;
    text-decoration:none;
}
input[type=text],
input[type=email],
input[type=password],
textarea {
    -webkit-appearance: none;
}

/*****to_top****/
#back_to_top span{text-align:center;display:inline-block;width:42px;height:42px;line-height:35px;border-radius:100%;}
#back_to_top{color:#fff;height:auto;position:fixed;bottom:100px;margin:0;z-index:10000;-webkit-transition:all .3s ease 0s;-moz-transition:all .3s ease 0s;-o-transition:all .3s ease 0s;transition:all .3s ease 0s;right:15px;opacity:0;filter:alpha(opacity=0);visibility:hidden;-webkit-backface-visibility:hidden}
#back_to_top.off{opacity:0;filter:alpha(opacity=0);right:0px;margin-right:15px;}
#back_to_top.on{opacity:1;filter:alpha(opacity=100);visibility:visible;right:0px;margin-right:15px;}
#back_to_top .hover{display:none}
#back_to_top span{text-decoration:none;-webkit-transition:all .2s ease 0s;-moz-transition:all .2s ease 0s;-o-transition:all .2s ease 0s;background:#26272b}
#back_to_top:hover span{background-color:#ff8c00}

/******/
body:before{
	content:'';
	width:100%;
	height:100%;
	position:fixed;
	z-index:-1;
	top:0;
	left:0;
	background:url("../img/bg1.jpg");
}
.container{
	width:1170px;
}
.center {
	text-align:center;
}
.right {
	text-align:right;
}

/****why****/
.why-section{
	padding:240px 0 50px 0;
	background:#fff url("../img/bg-bubble.png") left top no-repeat;
}
.why-section .title-big{
	 -webkit-text-stroke: 1px #fff;
   text-shadow:
       1px 1px 0 #fff,
     -1px -1px 0 #fff,  
      1px -1px 0 #fff,
      -1px 1px 0 #fff,
       1px 1px 0 #fff;
}
.why-blk label{
	font-size:30px;
	display:inline-block;
	width:100px;
	height:100px;
	border-radius:100%;
	background:#f1f1f1;
	color:#222;
	text-align:center;
	line-height:100px;
	position:absolute;
	top:-50px;
	left:-50px;
}
.why-blk{
	background:#ff8c00;
	color:#fff;
	font-size:20px;
	font-weight:700;
	padding:30px 60px;
	position:relative;
	margin:0 0 80px 0;
}
.why-blk:first-child{
	margin-left:50px;
}

/****field****/
.field-section{
	margin-top:300px;
	padding:30px 0 50px 0;
	background:url("../img/pattern-white-overlay.png");
}
.title-big{
	font-size:50px;
	font-weight:900;
	margin:0 0 50px 0;
}
.orange{
	color:#ff8c00
}
.black{
	color:#222;
}
.field-blk{
	text-align:center;
	color:#3f546c;
	margin:0 0 30px 0;
}
.field-blk h3{
	font-size:20px;
	font-weight:700;
}
.field-blk img{
	margin:0 0 20px 0;
}
.field-section h3.black{
	font-weight:700;
}
.gray-bg{
	background:#e1e1e1 url("../img/bg-bottom1.png") center bottom no-repeat;
	padding:40px 0 40px 0;
	text-align:center;
}
.orange-btn{
	color: #fff;
   	background: #ff8c00;
   	border-radius: 6px;
   	padding: 0 160px;
   	height: 100px;
    	line-height: 100px;
    	display: inline-block;
   	border: solid 2px #ff8c00;
    	font-weight: 700;
}
.orange-btn:hover,.orange-btn:focus{
	background:#fff;
	color:#ff8c00;
}

/****price****/
.price-section{
	padding:170px 0 80px 0;
	background: #fff url("../img/bg2.png") center center no-repeat;
	background-size:cover;
}
.price-blk{
	width:100%;
	overflow:hidden;
	border:solid 2px #ff8c00;
	font-size:20px;
	margin:0 0 20px 0;
}
.price-blk .label-price{
	width:40%;
	background:#ff8c00;
	color:#fff;
	font-weight:700;
	text-align:center;
	float:left;
	 display: flex;
  justify-content: center;
  flex-direction: column;
	min-height:90px;
}
.price-blk .number-price{
	color:#222;
	text-align:center;
	font-weight:500;
        font-size: 17px;
	background:#fff;
	width:60%;
	float:left;
	 display: flex;
  justify-content: center;
  flex-direction: column;
	min-height:90px;
}
.note-txt{
	overflow:hidden;
}
.note-left{
	float:left;
	width:50%;
	font-weight:700;
	font-size:20px;
}
.note-right{
	float:right;
	width:50%;
	text-align:right;
	font-size:14px;
}

/****how****/
.how-section{
	padding:170px 0 80px 0;
  background-image:linear-gradient(45deg,  #ffffff, #ffffff, #ff885e);
}
.how-blk{
	margin:0 0 30px 0;
	text-align:center;
}
.how-blk img{
	border-radius:12px 12px 0 0;
}
.how-blk h3{
	font-size:16px;
	font-weight:700;
}
.how-blk p{
	font-size:14px;
	text-align: left;
}
.how-blk .orange-btn{
	width:100%;
	height:50px;
	line-height:50px;
	font-size:16px;
	padding:0 0;
	text-align:center;
}
.none-bg{
	padding:40px 0;
	text-align:center;
}

/****partner****/
.partner-section{
	background:url("../img/pattern-white-overlay.png"), url("../img/bg-bottom2.png") bottom center no-repeat;
	padding:80px 0 120px 0;
}
.partner-section .title-big{
	margin-bottom:0px;
}
.title-sub{
	color:#222;
	font-size:24px;
	font-weight:900;
}
.partner-list{
	margin:20px 0 0 0;
}
.partner-list a{
	display:inline-block;
	margin:10px 10px;
}

/****contact****/
.contact-section{
	padding:10px 0 80px;
	background:linear-gradient(180deg,  #ffffff, #f94f13);
}
.contact-section .title-big{
	margin-bottom:0;
}
.contact-form{
	background:#fff;
	padding:40px 40px;
	border-radius:20px;
}
.red-required{
	color:#fc4850;
}
.contact-form input[type=text]{
	border-radius:6px;
	height:50px;
	line-height:50px;
	width:100%;
	padding:0 12px;
	
}
.contact-form  ::placeholder { 
  color: #b7b7b7;
  opacity: 0.7; 
}
.contact-form  textarea{
	min-height:120px;
	width:100%;
	padding:8px 12px;
	border:solid 1px #8d9aa9;
	border-radius:6px;
	resize:vertical;
}
.contact-form select{
	width:100%;
	padding:0px 12px;
	border:solid 1px #8d9aa9;
	border-radius:6px;
	background:#fff;
	height:50px;
	line-height:50px;
}
.submit-btn{
	color:#fff;
	background:#ff8c00;
	border-radius:6px;
	padding:0 30px;
	height:50px;
	line-height:50px;
	display:inline-block;
	border:solid 2px #ff8c00;
	font-weight:700;
	font-size:16px;
	box-shadow:0 0 0;
}
.submit-btn:hover,.orange-btn:focus{
	background:#fff;
	color:#ff8c00;
}
.form-btn {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  border: 1px solid #8d8d8d;
}
.form-btn:focus {
 box-shadow: 0 0 5px rgba(92, 80, 214, 1);
  border: 1px solid #ea4972;
}

/****input file style****/
.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    width:100%;
    font-size: 16px;
	height:50px;
	line-height:50px;
	border-radius:6px;
	text-align:center;
    font-weight: 700;
	color:#fff;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0;
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}

.inputfile-1 + label {
    color: #fff;
    background-color: #d3d3d3;
	border:solid 1px #d3d3d3;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
    background-color: #fff;
	color:#ff8c00;
	border:solid 1px #ff8c00;
}


/****footer****/
.footer{
	padding:0px 0;
	background:#f84c0f;
	border-top:solid 4px #fff;
}
.copyright{
	font-size:14px;
	color:#fff;
	text-align:center;
	padding:30px 0;
}
.social-list{
	padding:10px 30px 10px 0;
}
.social-list li{
	float:right;
	margin:5px 5px;
	list-style:none;
}
.social-list li:hover img{
	opacity:0.7;
}
.lang-footer{
	border:solid 1px #fff;
	background:#f84c0f;
	color:#fff;
	font-size:14px;
	margin:30px 0 30px 30px;
}

/****header****/
.header{
	padding:0px 0;
	background:#fff;
	position:fixed;
	width:100%;
	top:0;
	left:0;
	z-index:9999;
}

.header  .col-md-7{
	text-align: right
}
.lang-select{padding:1px 3px;border:solid 1px #ccc;display:inline-block;float:right;margin-top:20px;}
.lang-select button{padding:0;background:none;border:0;box-shadow:0 0 0;}
.lang-select button:hover,.lang-select button:focus{background:none !important;}
.lang-select .dropdown-menu{left:auto;right:0;background:rgba(255,255,255,1);border-radius:0;min-width:0;padding:0;}
.lang-select .dropdown-menu a{}
.lang-select .dropdown-menu > li > a{padding:4px 15px;}

/***header**/
.header .navbar{
	padding-left:50px;
	padding-right:50px;
}
.navbar-fixed-top .navbar-collapse {
    max-height: 100%
}
.header .navbar {
    transition-duration: .3s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.7, 1, .7, 1);
	margin-bottom:0;	
}
@media (max-width:991px) {
	.header .navbar {
	   margin-bottom:0;
}
.container {
    width: auto;
}
	}

.header .navbar-toggle {
    width: 25px;
    height: 25px;
    border: none;
    padding: 0;
    margin: 35px 0
}
.header .navbar-toggle .toggle-icon {
    position: relative;
    width: 21px;
    height: 1px;
    display: inline-block;
    background: #515769;
    transition-duration: .3s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.7, 1, .7, 1)
}
.header .navbar-toggle .toggle-icon:after,
.header .navbar-toggle .toggle-icon:before {
    position: absolute;
    left: 0;
    background: #515769;
    content: " "
}
.header .navbar-toggle .toggle-icon:before {
    width: 10px;
    height: 1px;
    bottom: 10px;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    transform: rotate(0);
    transition-duration: .3s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.7, 1, .7, 1)
}
.header .navbar-toggle .toggle-icon:after {
    width: 16px;
    height: 1px;
    top: -5px;
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    transform: rotate(0);
    transition-duration: .3s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.7, 1, .7, 1)
}
.header .navbar-toggle:hover .toggle-icon {
    background: #f47c59 !important;
	width:21px !important;
    transition-duration: .3s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.7, 1, .7, 1)
}
.header .navbar-toggle:focus .toggle-icon{
	background: #515769
}
.header .navbar-toggle:hover .toggle-icon:after,
.header .navbar-toggle:hover .toggle-icon:before{
    width: 21px !important;
    height: 1px !important;
    background: #f47c59 !important;
    transition-duration: .3s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.7, 1, .7, 1)
}

.header .navbar-toggle:focus .toggle-icon:after,
.header .navbar-toggle:focus .toggle-icon:before{
	background:#515769;
}
.header .navbar-toggle:focus .toggle-icon:before{
	width:10px;
}
.header .navbar-toggle:focus .toggle-icon:after{
	width:16px;
}
.header .logo-img-active,
.header .logo-img-main,
.header .nav-item.active .nav-item-hover:after,
.header .nav-item:hover .nav-item-hover:after {
    transition-duration: .4s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.7, 1, .7, 1)
}
.header .navbar-toggle:hover .toggle-icon.is-clicked {
    background: rgba(81, 87, 105, 0)
}
.header .logo {
	padding-top:10px;
    float: left;
    max-height: 95px;
    line-height: 65px
}
.header .logo-wrap {
    padding: 15px 0
}
.header .logo-img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
	height:45px;
}

.header .logo-img-active {
    display: none
}
.header .nav-item,
.header .nav-item-child {
    display: block;
    position: relative;
	
}
.header .navbar-nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}
.header .nav-item:last-child .nav-item-child {
    padding-right: 0
}
.header .nav-item.active .nav-item-hover:after,
.header .nav-item:hover .nav-item-hover:after {
    opacity: 1
}
.header .nav-item-child {
    font-size: 14px;
    font-weight: 700;
	letter-spacing: 1px;
    color: #333;
    line-height: 56px;
    padding: 23px 10px 5px 8px;
    transition-duration: .3s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.7, 1, .7, 1);
	background-position:	center bottom !important;
}
.header .nav-item-child:focus,
.header .nav-item-child:hover {
    background: inherit;
	color:#ff8c00 !important;
}
.header .nav-item-hover {
    position: relative;
	
}
.header .nav-item a:after {
    position: absolute;
    top: 42px;
    left: 0;
    width: 9px;
    height: 9px;
	z-index:99;
	border-radius:100%;
    background: #fff ;
    opacity: 1 !important;
    transition-duration: .9s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.7, 1, .7, 1)
}
.header .nav-item.active  .nav-item-child{color:#ff8c00;transition:0.3s ease all;}
.header .nav-item.active .nav-item-child:after,.header .nav-item:hover .nav-item-child:after {
    position: absolute;
    top: 42px;
    left: 0;
    width: 9px;
    height: 9px;
	z-index:999;
	border-radius:100%;
    background: #f47c59 !important;
    opacity: 1 !important;
    transition-duration: .9s;
    transition-property: all;
    transition-timing-function: cubic-bezier(.7, 1, .7, 1)
}
@media (max-width: 991px) {
    .header {
        background: #fff
    }
    .header .navbar-toggle {
        display: block;
        margin: 15px 0;
    }
    .header .navbar-collapse.collapse {
        display: none!important
    }
    .header .navbar-collapse.collapse.in {
        display: block!important
    }
    .header .nav-collapse {
        padding-left: 0;
        padding-right: 0
    }
    .header .navbar-nav {
        margin: 0;
        float: none
    }
    .header .navbar-nav .nav-item {
        float: none
    }
    .header .menu-container:after,
    .header .menu-container:before {
        content: " ";
        display: table
    }
    .header .menu-container:after {
        clear: both
    }
    .header .logo .logo-img-main {
        display: none
    }
    .header .logo .logo-img-active {
        display: inline-block
    }
    .header .nav-item-child {
        color: #515769;
        line-height: 1.4;
        padding: 12px 12px 12px 15px
    }
    .header .nav-item-hover:after {
        position: absolute;
        top: 19px
    }
}
@media (max-width: 767px) {
    .header .menu-container {
        padding-left: 15px;
        padding-right: 15px;
        margin-left: 0;
        margin-right: 0
    }
    .header .navbar>.container,
    .header .navbar>.container>.nav-collapse {
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right: 0
    }
    .header .navbar>.container {
        width: auto
    }
	.header .navbar-toggle {
  
    margin: 15px 0
}
	.header .logo{height:40px;padding-top:0;line-height:50px;}
}
@media (min-width: 992px) {
    .header .navbar-nav-right {
        float: right
    }
    .page-on-scroll .header .navbar {
		    border-bottom: 1px solid rgba(255, 255, 255, .2);
        background: #fff;
        border-bottom-color: #f0f0f0;
        transition-duration: .3s;
        transition-property: all;
        transition-timing-function: cubic-bezier(.7, 1, .7, 1)
    }
    .page-on-scroll .header .logo-img-active,
    .page-on-scroll .header .logo-img-main {
        transition-duration: .4s;
        transition-property: all;
        transition-timing-function: cubic-bezier(.7, 1, .7, 1)
    }
    .page-on-scroll .header .logo-img-main {
        display: none
    }
    .page-on-scroll .header .logo-img-active {
        display: inline-block
    }
    .page-on-scroll .header .nav-item-child {
        color: #323232;
        transition-duration: .3s;
        transition-property: all;
        transition-timing-function: cubic-bezier(.7, 1, .7, 1)
    }
}

.header .orange-btn{
	height:50px;
	line-height:50px;
	font-size:16px;
	padding:0 30px;
	margin-right:20px;
	color:#fff !important;
	margin-top:20px;
}

.show-phone{display:none;}
.footer .lang-select{padding:1px 3px;border:0;display:inline-block;float:left;margin-left:30px;margin-top:15px;}
.footer .lang-select button{padding:0;background:none;border:0;box-shadow:0 0 0;}
.footer .lang-select button:hover,.lang-select button:focus{background:none !important;}
.footer .lang-select .dropdown-menu{left:0;right:auto;top:auto;bottom:100%;background:rgba(255,255,255,1);border-radius:0;min-width:0;padding:0;}
.footer .lang-select .dropdown-menu a{}
.footer .lang-select .dropdown-menu > li > a{padding:4px 15px;}

/***intro****/
.intro-section{
	height:800px;
	padding-top:100px;
	background:url("../img/bg0.jpg") no-repeat;
	 display: flex;
  justify-content: center;
  flex-direction: column;
}
.intro-section .title-big{
	margin-bottom:20px;
}
.intro-section .orange-btn{
	margin-top:30px;
	display:inline-block;
	padding: 0px 80px;
}
.lb_privacy{
    display: inline;
}
.privacy{
    top: 90px;
    z-index: 9999999;
}
.privacy .modal-dialog{
    width: 65%;
}
.area-upload{
  width: 100%;
    height: 50px;
    border: 1px solid #ccc;
    background: #ccc;
    z-index: 999;
    border-radius: 6px;
}
.area-upload:hover{
    background-color: #fff;
    color: #ff8c00;
    border: solid 1px #ff8c00;
}
.area-upload:hover p.drag{
    color: #ff8c00;
}
input.inputfile-1{
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50px;
  outline: none;
  opacity: 0;
  cursor: pointer;
}
p.drag{
    width: 100%;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-weight: 700;
    font-family: Arial;
}
p.drag svg{
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}
