.top-intro-zh {
  background: url(bg_top-intro.png);
}

.c-more-btn::after {
  background: url(icon_more-click.png) no-repeat center center;
}

.c-check-list__item {
  background: url(icon_checklist.png) left 5px no-repeat;
  background-size: 16px;
  padding: 0 0 0 34px;
  margin: 0 0 11px;
}

.lqa-point__heading {
  margin: 0;
  padding: 0 0 0 40px;
  background: url(icon_point.png) no-repeat left center;
  background-size: 34px;
  text-align: left;
}
.phone-bg {
  background: url(phone-white.png) 0 center no-repeat;
  padding-left: 30%;
  background-size: 20% auto;
}
.cta-box a span {
  background: url(email-white.png) 0 center no-repeat;
  background-size: 60px auto;
}

.main-navigation ul.nav-menu > li.menu-item-has-children > a {
  background: url(icon_arrow-b.png) right center no-repeat;
  background-size: 12px;
  padding-right: 18px;
}

.main-navigation ul.nav-menu > li.menu-item-has-children > a.active {
  background: url("icon_arrow-t.png") right 12px center no-repeat;
  background-size: 11px;
  padding-right: 20px;
}

.site-language__link {
  display: inline-block;
  height: 58px;
  line-height: 59px;
  font-size: 0.88rem;
  background: url(icon_arrow-b.png) right center no-repeat;
  background-size: 12px;
  padding-right: 20px;
  cursor: pointer;
  letter-spacing: 0.1em;
}
@media screen and (min-width: 860px) and (max-width: 1085px) {
  .cta-box a span {
    background-size: 40px auto;
    padding: 10px 0 10px 45px;
  }
}
@media screen and (min-width: 731px) and (max-width: 859px) {
  .cta-box a span {
    background-size: 30px auto;
    padding: 10px 0 10px 40px;
  }
}
@media screen and (max-width: 730px) {
  .phone-bg {
    background: url(phone-white.png) center 0 no-repeat;
    padding-top: 80px;
    padding-left: 0;
    background-size: 50px auto;
    margin: 50px auto 20px;
    max-width: 225px;
  }
  .cta-box a {
    padding: 20px 50px;
    max-width: 360px;
    margin: 0 auto;
  }
  .cta-box a span {
    background: url(email-white.png) center 0 no-repeat;
    background-size: 80px auto;
    padding: 20px 0;
    line-height: 2;
    padding-top: 80px;
    display: block;
  }
}

@media screen and (max-width: 999px) {
  .menu-toggle {
    background: url("text_head-menu_sp.png") center center no-repeat #ffa101;
    background-size: 30px;
  }

  .main-navigation ul.nav-menu > li.menu-item-has-children > a {
    background: url(icon_arrow-b.png) 96% center no-repeat;
    background-size: 11px;
  }

  .site-language__link {
    background: none;
  }
}

body.page-template .site-ja .post-24 .entry-content,
body.parent-pageid-24 .site-ja .entry-content,
body.page-template .site-ja .post-8 .entry-content {
  max-width: 100%;
  width: 100%;
  margin: 0 0;
}



